.container{
    background-color:rgb(146, 146, 202);
    display: grid;
    grid-row:5fr auto;
    grid-column: 2fr 1fr;
    grid-column-gap:2em;
}

.info{
    grid-row:1;
    grid-column: 1 / 2;
}

.warning{
    grid-row:2;
    grid-column:1;
}

.success{
    grid-row:2;
    grid-column:2;
}